body {
  display: flex;
  flex-direction: column;
  background: #f5f5ef;
  color: #507b00;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #507b00;
  transition: 0.5s;
  text-decoration: none;
}

a:hover, a:active, a:focus {
  color: #507b00;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}

.btnByPlantas {
  background-color: #507b00; /* Green */
  border: none;
  color: #f5f5f5;
  /* padding: 0,875em 2.25em; */
  text-align: center;
  text-decoration: none;
  display: block;
  border-radius: 5px;
  font-size: 1em;
  width: 100%;
  transition: all 0.5s;
  cursor: pointer;
  /* margin: auto; */
} 

.btnByPlantas:hover {
  background-color: #f5f5ef; /* Green */
  color: #507b00;
  padding-right: 25px;
} 

.btnByPlantas link {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btnByPlantas link:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btnByPlantas:hover link {
  padding-right: 25px;
}

.btnbyPlantas:hover link:after {
  opacity: 1;
  right: 0;
}

.error{
  color: rgb(163, 49, 49);
  font-size: 0.8rem;
}

/*code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}*/
