.formLoginContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.titles {
    font-weight: 500;
    text-align: center;    
}

.buttonContainer {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 8rem;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.linkContainer {
    display: flex ;
    align-content: center;
    justify-content: center;
    text-align: center;
}