.reviewContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.titlereviews{
    padding: 0.5rem;
    color: #a17e30;
    font-weight: bold;
    margin-top: 2rem;
}

.reviews{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.addReviewbutton{
    margin: auto;
    width: 15%;
}

.containercards{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5em;
    justify-content: center;
    padding: 3em;
}

.cardreview{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    min-width: 23%;
    max-width: 23%;
    height: 15rem;
    color: #a17e30;
    font-size: 0.6rem;
    margin: 0.5rem;
    margin-bottom: 1rem;
    background-color: #fff;
    border: 0.5px solid #f5f5ef;
    border-radius: 0.5rem;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 1rem;
}

.cardreview:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.titlecontainer{
    background-color: #507b00;
    width: 100%;
    min-height: 3em;
    padding: 1em;
    text-align: center;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.cardtitle{
    font-style: italic;
    font-size: 0.9rem;
    color: #f5f5ef;
    font-size: 1.5em;
    font-weight: 500;
    margin: 0;
    margin-bottom: 0.5em;
}

.cardbody{
    font-size: 0.9rem;
    background-color: #fff;
    width: 100%;
    height: 10em;
    color: #507b00;
    margin-top: 0;
    padding: 0;
    padding-top: 1em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    font-size: 1.5em;
    overflow: auto;
}

.namecard{
    font-style: italic;
    font-size: 0.7em;
    font-weight: 600;
}

.ratingicon {
    size: 1em;
}

@media (max-width: 720px) {
    .containercards {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .cardreview{
        display: none;
    }
}