.productCard {
    display: flex;
    flex-direction: column;
    padding: 0;
    text-align: center;
}

.imgContainer {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 1em;
    height: 10em;
    width: auto;
}

.productImg {
    border: none;
    padding: none;
}

.bodyContainer {
    display: flex;
    flex-direction: column;
}

.titleBody {
    font-weight: 600;
    margin: 0;
}

.priceBody {
    margin: 0.5em;
}

.stockBody{
    margin-bottom: 0.5em;
}

.starAverage {
    margin: 0;
    margin-bottom: 0.5em;
}