/*.boxes{
    background-color: rgb(27, 141, 135);
    border: 1 solid black;
    padding: 10px;
    height: 300px;
    width: 300px;
    border: 0 solid black;
    margin: 10px;
    flex-direction: column;
    justify-content: center;
    border-radius: 2%;
    color: white;
}*/

.img{
    height: 7em;
}

.cardContainer {
    width: 10em;
}

.textContainer {
    padding: 0;
}
