.containerByPlantasCarousel{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 15rem;
    justify-content: center;
    align-content: center;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    padding-top: 2.5%;
    padding-bottom: 1%;
    text-align: center;
    background-position: 0;
    background-color: rgba(0, 0, 0, 0.50);
    color: #f5f5ef;
}
.carouselSlide1{
    display: flex;
    width: 100%;
    max-height: 30rem;
    padding-top: 7.5%;
    padding-bottom: 7.5%;
    background-image: url("https://res.cloudinary.com/pachuley/image/upload/v1612482434/2_zijcle.png");
    background-size: cover;
    align-content: center;
    justify-content: center;
}

.carouselSlide2{
    display: flex;
    width: 100%;
    max-height: 30rem;
    padding-top: 7.5%;
    padding-bottom: 7.5%;
    background-image: url("https://res.cloudinary.com/pachuley/image/upload/v1612482446/1_jfgx4x.png");
    background-size: cover;
    align-content: center;
    background-position: 0;
    justify-content: center;
}

.buttonContainer{
    margin: auto;
    width: 7rem;
    height: auto;
}