.header {
    z-index: 997;
    padding: 26px 0;
  }
  
.headerLogo {
    font-size: 34px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    border-left: 4px solid #507b00;
    color: #f5f5ef;
    margin-left: 3em;
  }
  
@media (max-width: 992px) {
    .headerLogo {
      font-size: 28px;
    }
  }
  

.headerText  {
    text-decoration: none;
}

.byPlantasNavbar {
    background-color: #a17e30;
    height: 5em;
    align-items: center;
}

.ulMargin {
    margin-right: 5em;
}

.liMargin {
    margin-left: 2em;
}

.link{
    margin-left: 2rem;
    color: #f5f5ef;
    text-decoration: none;
    font-weight: 500;
}
.link:hover{
    margin-left: 2rem;
    color:  #507b00;
}

.link:after {
    color: #f5f5ef
}

.alink{
    color: #507b00;
}
.alink:hover{
    color: #507b00
}

.alink:after {
    color: #f5f5ef
}

.alinkLogo{
    margin-left: 3px;
    color: #507b00;
}

.alinkLogo:hover{
    color: #507b00
}

.alinkLogo:after{
    color: #f5f5ef
}

.linkLogo{
    margin-left: 3px;
    color: #f5f5ef;
    text-decoration: none;
    font-weight: 500;
}
.linkLogo:hover{
    color:  #507b00;
}

.linkLogo:after{
    color: #f5f5ef
}

.collapseDiv {
    background-color: #a17e30;
}

.collapseButton {
    margin-right: 5rem;
}