.home {
    height: 100%;
    background-color: #f5f5ef;
    background-size: cover;
    background-position: top;
}

@media (max-width: 540px) {
    .carouselContainer {
        display: none;
    }
  }

.titles {
    font-weight: 500;
    text-align: center;    
}

@media (max-width: 720px) {
    .filosofiaContainer {
        display: none;
    }
  }

.filosofia {
    padding: 2.5rem 7rem;
    justify-content: space-around;
    text-align: center;
    width: 70%;
    margin: auto;
}

.filosofiaP {
    font-style: italic;
    font-size: 1.2rem;
    color: #a17e30;
    font-weight: 500;
}

.contactformContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 992px) {
    .contactformContainer {
        display: flex;
        justify-content: center;
        width: 100%;
    }
  }

.contact {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 100%;
}

.contactForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
}

.profile {
    text-align: center;
    width: 20%;
}

@media (max-width: 720px) {
    .profile {
        width: 30%;
    }
}

@media (max-width: 540px) {
    .profile {
        width: 80%;
    }
}

.profileimg {
    border: none;
    padding: 0;
    margin: 0;
    border-radius: 50%;
}

.profileimg:hover {
    padding: 1.5px;
    background: transparent;
    opacity: 1;
    right: 0;
    transition: 0.5s;
  } 

.profileText{
    height: 5rem;
}


