.home {
    height: 100%;
    background-color: #f5f5ef;
    background-size: cover;
    background-position: top;
}

.titles {
    font-weight: 500;
    text-align: center;    
}

.filosofia {
    padding: 2.5rem 7rem;
    justify-content: space-around;
    text-align: center;
    width: 70%;
    margin: auto;
}

.filosofiaP {
    font-style: italic;
    font-size: 1.2rem;
    color: #a17e30;
    font-weight: 500;
}

.carruselOfertas {
    text-align: center;
    align-content: center;
    margin: 0 6rem;
    background-color: #a17e30;
    justify-content: space-around;
}

.carousel-inner {
    margin: auto;
}

.contacts {
    align-content: center;
    margin: 5em 10rem;
}

.profile {
    text-align: center;
}

.profileimg {
    border: none;
    padding: 0;
    margin: 0;
    border-radius: 50%;
}

.profileimg:hover {
    padding: 1.5px;
    background: transparent;
    opacity: 1;
    right: 0;
    transition: 0.5s;
  } 

  @media (max-width: 540px) {
    .carousel {
        display: none;
    }
  }

  @media (max-width: 720px) {
    .filosofiaContainer {
        display: none;
    }
  }

  @media (max-width: 992px) {
    .contactformContainer {
        display: flex;
        width: 100%;
    }
  }
