.catalogContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding-left: 0;
    padding-right: 0;
    margin: auto;
    width: 100%;
}

.aviso {
    background-color: #507b00;
    padding: 2rem;
    color: #f5f5ef;
    margin: auto;
    margin-top: 3rem;
    width: 20rem;
    text-align: center;
    font-weight: 500;
    border-radius: 4px;
}

.catalog {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: flex-start;
    justify-content: space-evenly;
    margin: auto;
    padding: 2rem;
    width: 100%;
}