.aviso {
    background-color: #507b00;
    padding: 2em;
    color: #f5f5ef;
    margin: auto;
    margin-top: 3em;
    width: 25em;
    text-align: center;
    font-weight: 500;
    border-radius: 4px;
}