.productDetailContainer {
    display: flex;
    flex-direction: column;
    margin: 5em;
}

.productDetailCard {
    display: flex; 
    width: 100%;
    height: auto;
    align-items: flex-start;
    justify-content: space-between;
    align-content: center;
}

.imgButtonCard {
    display: flex;
    flex-direction: column;
    padding: 2em;
    padding-top: 0;
    justify-content: center;
    width: 30%;
}

.imgCard {
    max-height: 20em;
    width: auto;
    margin-bottom: 2em;
}

.detailsCard {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: 0;
    padding: 2rem;
    border: 2px solid #a17e30;
    background-color: #fff;
    width: 65%;
    height: 100%;
}

.description {
    font-size: larger;
}

.hrDetails {
    width: 50%;
    height: 2px;
    color: #a17e30;
}

.reviewsDetails {
    display: flex;
    align-items: center;
    line-height: 1;
}

.spanDetails1 {
    margin-bottom: 1em;
}

.spanDetails2 {
    margin-right: 1em;
}

@media (max-width: 720px) {
    .productDetailCard {
        flex-direction: column;
    }
    .imgButtonCard{
        width: 100%;
    }
    .detailsCard{
        width: 100%;
    }
}