.productDetailContainer {
    display: block;
    margin: 5em;
}

.productDetailCard {
    display: flex; 
    margin-top: 10em;
    align-items: flex-start;
}

.imgButtonCard {
    display: flex;
    flex-direction: column;
    padding: 2em;
    padding-top: 0;
    justify-content: center;
}

.imgCard {
    max-height: 20em;
    width: auto;
    margin-bottom: 2em;
}

.detailsCard {
    display: flex;
    flex-direction: column;
    padding-top: 0;
    justify-content: center;
    align-content: center;
}

.titleDetails {
    margin: 0;
    padding: 0;
    font-weight: 500;
}

.hrDetails {
    width: 50%;
    height: 2px;
    color: #a17e30;
}

.reviewsDetails {
    display: flex;
    align-items: center;
    line-height: 1;
}

.spanDetails1 {
    margin-bottom: 1em;
}

.spanDetails2 {
    margin-right: 1em;
}