.cartCheckOutContainer {
    border: 2px solid #a17e30;
    background-color: #fff;
    height: 6rem;
    display: flex;
    align-items: center;
    align-content: space-between;
    padding: 0.5em;
    padding-right: 1em;
    margin: 0;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 1em;
}

.detailsCartcheckout {
    display: flex;
    margin: 1em;
    padding: 1em;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 1em;
    margin-right: 1em;
    padding: 1em;
}

.title {
    font-weight: 500;
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
}

.span {
    line-height: 1.5;
    margin-bottom: 0.25rem;
    margin-top: 0.5rem;
}

.spanInfo   {
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
}

.spanInfo2   {
    margin-bottom: 0.25rem;
    margin-top: 0.5rem;
}