.cartlineContainer {
    border: 2px solid #a17e30;
    background-color: #fff;
    height: 10rem;
    display: flex;
    align-items: center;
    align-content: space-between;
    padding: 0.5em;
    padding-right: 1em;
    margin: 0;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 1em;
}

.imgContainer {
    display: flex;
    margin: 1em;
    float: left;
    justify-content: center;
}

.img {
    border: none;
    height: 7rem;
    width: auto;

}

.detailsContainer {
    margin-left: 15%;
    text-align: left;
}

.titleContainer {
    padding-left: 1em;
    padding-right: 1em;
}

.titleCart {
    font-weight: 500;
    line-height: 1;
    margin: 0;
}

.textContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 1em;
    margin-right: 5rem;
}

.btnCierre {
    background: rgb(163, 49, 49);
    border-radius: 50%;
    color: #f5f5ef;
    border: none;
    height: 2.2em;
    width: 2.2em;
    align-self: flex-end;
}

.btnContador:focus {
    outline: none;
}