.checkoutContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: flex-start;
    padding: 0;
    margin: 0;
}

.checkoutShippingAddress{
    display: flex;
    align-content: center;
    justify-content: space-around;
    align-items: flex-start;
    width: 85%;
}

.checkout {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 70%;
}

.shippingdetail{
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0;
    padding: 0;
    width: 30%;
    text-align: center;
}

.shippingForm{
    width: 70%;
    justify-content: center;
}

.shippingButton {
    width: 60%;
    margin: auto;
}

.payment{
    display: flex;
    width: 40%;
    justify-content: center;
    margin-top: 3rem;
}

@media (max-width: 720px) {
    .checkoutShippingAddress {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        margin: auto;
        padding: 0;
    }
    .checkout{
        width: 80%;
    }
    .shippingdetail{
        width: 60%;
    }
    .payment{
        width: 60%;
    }
}

@media (max-width: 540px) {
    .checkout{
        width: 80%;
    }
    .shippingdetail{
        width: 80%;
    }
}