.pagoTotal {
    margin: 1em;
}

.mercadoPago {
    margin: 1em;
}

.boton {
    margin: 1em;
}

.payment {
    display: flex;
    align-content: flex-start;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    width: 100%;
    display: grid;
        border: 2px solid #a17e30;
        background-color: #fff;
        height: 20rem;
        
        align-items: center;
        align-content: space-between;
        padding: 0.5em;
        padding-right: 1em;
        margin: 0;
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 1em;
    
}