.payment {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: 0;
    margin-bottom: 3rem;
    padding: 0;
    width: 100%;
    border: 2px solid #a17e30;
    background-color: #fff;
    height: 15rem;
    text-align: center;
}

.pagoTotal {
    margin: 1rem;
}

.mercadoPago {
    margin: 1rem;
}

.boton {
    margin: 1rem;
}